<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <h2>Documentación <a href="https://www.api-ninjas.com/api/cocktail" target="_blank">Cocktail API</a>.</h2>
</div>
@section Scripts {
    <script src="~/js/cocktail.js"></script>
}